<%# Start modal %> 
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button class="close" type="button" data-dismiss="modal" aria-hidden="true"><span class="mdi mdi-close"></span></button>
    </div>
    <div class="modal-body">

      <%# DeleteThis: insert modal contents (base, destroy, image) %>

    <%# End modal %>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
