      <%# DeleteThis: if including 2 buttons, use justify-content-around instead justify-content-center %>
      <div class="mt-6 d-flex justify-content-center">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">OK</button>
      </div>
