      <%# DeleteThis: insert base header %>

      <%# Modal body %>
      <div>
        <%# DeleteThis: adjust width and height as needed  %>
        <%= image_tag(ChangeObject.ChangeProcessedAttribute, style: "width:100%; aheight:auto") %>  
      </div>

      <div class="mt-3 d-flex justify-content-center">
        <button class="btn btn-primary" type="button" data-dismiss="modal">OK</button>
      </div>
