      <%# DeleteThis: insert base header %>

      <%# Modal body %>
      <DivOrP>
        <%# DeleteThis: insert text or custom html here %>
      </DivOrP>

      <div class="mt-6 d-flex justify-content-center">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">OK</button>
      </div>
