      <%# Modal header %>
      <div class="text-center">
        <div class="text-ChangeIconColor"> 
          <%# DeleteThis: icon color options: primary, success, seconary, danger (& warning warning-2) %>
          <span class="modal-main-icon mdi mdi-ChangeIconType"></span>
          <%# DeleteThis: change icon type to match color (they are in same order): mdi-info-outline, mdi-check, mdi-alert-triangle, mdi-close-circle-o %>
        </div>
        <h3>
          ChangeTitle
        </h3> 
      </div>
