<div class="d-flex align-items-center">
  <div class="col-form-label mr-6" style="padding-top: 0px !important">
    <%# DeleteThis: insert text %>
  </div>
  <%# DeleteThis: insert toggle OR toggle with form %>
</div>
