<div class="switch-button switch-button-ChangeColor flex-shrink-0 switch-button-yesno">
<%# DeleteThis: include swich-button-yesno for "yes" and "no" labels. Remove switch-button-yesno for "on" and "off" labels %>
  <%= ChangeForm_form.check_box(:ChangeAttribute) %>
  <span><%= ChangeForm_form.label(:ChangeAttribute) do %> <% end %></span>
</div>
