<%# NOTE: this is WIP - check and see if it works... it might need a row-col wrapper or something around the header and body... %>
<%# Start non-card card %>
<div class="non-card">
  <div class="card-sm">
  <%# DeleteThis - card-sm can be changed to card-xs card-md card-lg and card-100 to change size of card %>

  <%# DeleteThis - insert card header %>

  <%# DeleteThis - insert card body option %>

  <%# End card %>
  </div>
</div>
