<%# Start card %>
<div class="card card-100 card-border-color card-border-color-primary card-table"> 
  <%# DeleteThis - remove classes "card-border-color" and "card-border-color-primary" if you do not want a card with color %>
  <div class="d-flex justify-content-center ">
    <div class="card-sm">
    <%# DeleteThis - card-sm can be changed to card-xs card-md card-lg and card-100 to change size of card %>

    <%# DeleteThis - insert card header %>

    <%# DeleteThis - insert card body option %>

    <%# End card %>
    </div>
  </div>
</div>
