<%# DeleteThis: goal for name on each input: some_models[][some_model][some_attribute] %>
<%= ChangeParentForm_form.fields_for('ChangeModels[]ChangeModel') do |ChangeModels_form| %>
  <% ChangeModels.each do |ChangeModel| %>
    <%# ReplaceThis: make sure to include propper wrappers (left label, form rows, form groups, etc.) %>
    <%# DeleteThis: if using checkbox - use tag to prevent rails hidden checkbox %>
    <div class="custom-control custom-checkbox">
      <%= check_box_tag(ChangeModels_form.object_name + 'ChangeAttribute', ChangeModel.ChangeAttribute, false, id: "ChangeModel_#{ChangeModel.id}_ChangeAttribute", class: 'custom-control-input') %>
      <%# ReplaceThis: insert standard check box label and include html "for" attrubute - for: "ChangeModel_#{ChangeModel.id}_ChangeAttribute" %>
    </div>
    <%# DeleteThis: if using other input type %>
    <%# ReplaceThis: if label is needed, insert standard label and include html "for" attrubute - for: "ChangeModel_#{ChangeModel.id}_ChangeAttribute" %>
    <%# ReplaceThis: insert any (non-tag) input and include html "id" attrubute - id: "ChangeModel_#{ChangeModel.id}_ChangeAttribute" %>
  <% end %>
<% end %>
