<%# Start card %>
<div class="card card-border-color card-border-color-primary card-table"> 
  <%# ChangeThisPls: remove classes "card-border-color" and "card-border-color-primary" if you do not want a card with color %>
  <div class="row"> <%# used for left and right margin if needed. if not, delete classes but keep divs %>
    <div class="col-12 col-lg-1 col-xl-2"> 
    </div>
    <%# NOTE: the above element is used to create left margin on really wide screens. The classes on the element below create the corresponding right margins %>
    <div class="col-12 col-lg-10 col-xl-8"> <%# used for left and right margin if needed. if not, delete classes but keep divs %>

<%# Card header %>
      <div class="card-header card-header-divider">
        <div class="row px-3"> <%# helps with spacing title vs. buttons... not perfect but really close. tried putting d-flex, d-sm-flex and row inside previous line, but none worked %>
          <%# Card header title and subtitle %>
          <div class="card-title mr-auto font-weight-bold">
            ChangeThisPls 
            <span class="card-subtitle">
              ChangeThisPls
            </span>
          </div>
          <%# Card header buttons %>
          <div>
            <%# NOTE: if multiple buttons, all buttons EXCEPT FOR THE LAST BUTTON need a class of mr-2 %>
          </div>
        </div>
      </div>

<%# Start card body %>
      <div class="card-body pb-3">
        <%# ChangeThisPls: insert card body option (see templates/views/card_body_options) %>

<%# Finish card body %>
      </div>

<%# Finish card %>
    </div>
  </div>
</div>

