<%# Start page body %>
<div id="full_height_columns_page_wrapper">
  <div id="full_height_columns_page_body">

    <%# ChangeColumnName %>
    <div id="ChangeColumnName" class="full_height_column d-ChangeScreenSize-or-larger" style="width: ChangeWidth;">
      <%= render(partial: 'ChangeThisPls', locals: { ChangeThisPls }) %>
    </div>

  <%# End page body %>
  </div>
</div>
