<%# Start page body - base %>
<div class="main-content container-fluid">
  <div class="row">
    <div class="col-sm-12">

      <%# ChangeCardName partial %>
      <div id="ChangeThisPls_card">
        <%= render(partial: 'ChangePath/ChangeCardName_card', locals: { ChangeLocals }) %>
      </div>

    <%# End page body %>
    </div>
  </div>
</div>
