<%# Start page body - full height columns %>
<div id="full_height_columns_page_wrapper">
  <div id="full_height_columns_page_body">

    <%# ChangeColumnName %>
    <div id="ChangeColumnName" class="full_height_column d-ChangeScreenSize-or-larger" style="width: ChangeWidth;">
      <%= render(partial: 'ChangePath/ChangeColumnName_column', locals: { ChangeLocals }) %>
    </div>

  <%# End page body %>
  </div>
</div>
