<%# Page Header - base %>
<div class="pt-4 pb-2 px-5"> 
  <div class="row">
    <div class="col-12 d-flex flex-wrap">
      <div class="mr-auto">
        <%# Page Title %>
        <h2 class="page-head-title mr-2">
          ChangeThisPls
        </h2>
        <%# Breadcumb %>
        <nav aria-label="breadcrumb" role="navigation" style="line-height: 6px;">
          <ol class="breadcrumb page-head-nav" style="padding: 3px 0px; margin: 0px 0px 7px 0px; background-color: #eeeeee;">
            <li class="breadcrumb-item"><%= link_to(ChangeDisplay, ChangeUrl) %></li>
          </ol>
        </nav>
      </div>
      <%# Page header buttons %>
      <div class="d-flex align-items-center flex-wrap">
        <%# NOTE: if multiple buttons, all buttons EXCEPT FOR THE LAST BUTTON need a class of mr-2 %>
      </div>
    </div>
  </div>
</div>

