<div class="tab-container">
  <div class="row px-3">
    <div class="col-sm-12">
      <div class="row">
        <ul class="nav nav-tabs" role="tablist">
          <% if can? ChangeThisPls, ChangeThisPls %>
            <li class="nav-item">
              <%= link_to(ChangeThisPls, ChangeThisPls, class: "nav-link#{ " active" if tab == 'ChangeThisPls' }") %> 
            </li>
          <% end %>
          <% if can? ChangeThisPls, ChangeThisPls %>
            <li class="nav-item">
              <%= link_to(ChangeThisPls, ChangeThisPls, class: "nav-link#{ " active" if tab == 'ChangeThisPls' }") %> 
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>


