<%# Begin card body wrapper %>
<div class="row mx-2">
  <div class="col-12 px-2">
    <%# ChangeThisPls - only select 1 of the below 2 options. Delete the non-used option %>
    <%# ChangeThisPls - Option 1: show - insert form option or custom html %>
    <%# ChangeThisPls - Option 2: show edit swap - use below %>
    <!-- WIP show edit swap on single -->

  <%# End card body wrapper %>
  </div>
</div>

