<%# DeleteThis - all styles must be inline %>
<%# DeleteThis - set salutation %>
<p>
  Hi <%= @to_user.first_name %>,
</p>

<%# DeleteThis - regular paragraph %>
<p>
  Some regular paragraph
</p>

<%# DeleteThis - paragraph followed directly (ie no margin) by list %>
<p style="margin-bottom: 0px;">
  Some paragraph with list directly following (ie no margin-bottom)
</p>
<ul style="margin-top: 0px;">
  <% some_list_of_items.order(:some_attribute).each do |item| %>
    <li>
      Some list item in a list directly following a paragraph (ie no margin-top)
    </li>
  <% end %>
</ul>

<%# DeleteThis - paragraph followed by list with margin separating it %>
<ul>
  <% some_list_of_items.order(:some_attribute).each do |item| %>
    <li>
      Some list item in a list with normal margin
    </li>
  <% end %>
</ul>

<%# DeleteThis - link with style. NOTE: use url helper and not path %>
<%= link_to("Some link as needed", ChangeUrl, style: "color: #4285f4;", target: :_blank) %>

<%# DeleteThis - some font examples %>
<span style="color: #4285f4">Some text with upserv blue font</span>
<span style="color: #ea4335">Some text with upserv danger font</span>
<span style="color: #ff6a0d">Some text with upserv warning-2 font</span>


<%# DeleteThis - set closing salutation - do no include this if sending on behalf of another suer %>
<p>
  Sincerely,
</p>
<p>
  <%# for cron job triggers %>
  Upserv Reminders
  <%# for controller / model based triggers %>
  Upserv Notifications
  <%# if sent on behalf of some user %>
  <%= @from_user.full_name %>
</p>
