<div id="ChangeSesId-ses-show">
  <%= render(partial: 'ChangePath/show', locals: { ChangeLocals }) %>
</div>

<div id="ChangeSesId-ses-edit">
  <%= render(partial: 'ChangePath/edit', locals: { ChangeLocals }) %>
</div>

