<div class="d-flex align-items-center justify-content-center">
  <a class="px-3 fs-4 c-pointer text-secondary mdi mdi-close-circle-o ChangeSesId-cancel-button"></a>
  <button class="px-3 fs-4 btn-no-background text-primary mdi mdi-check-circle do-not-disable"></button>
</div>

