<div class="d-flex justify-content-around">
  <a class="btn btn-secondary mr-3 ChangeSesId-ses-cancel-button" data-dismiss="modal">Cancel</a>
  <%= ChangeForm_form.submit "Save", class: "btn btn-primary" %>
</div>
