<%# Start card body %>
<div class="card-body pb-3">

  <%# Begin card body wrapper %>
  <div class="row mx-2">
    <div class="col-12 px-2">

      <%# ChangeThisPls - insert show edit swap base %>

    <%# End card body wrapper %>
    </div>
  </div>

<%# End card body  %>
</div>
