<%# Subdivider %>
<div class="row pt-3">
  <p class="col-12 col-form-label py-0 fs-subsection">
  <%# NOTE: add class item "text-center" for center aligned subtitle %>
    SOME SUBSECTION
  </p>  
</div>

<%# begin left label subsection %>
<%# NOTE: NO spaces between subsection items %>
<div class="form-group row pt-1">
  <%# show label %>
  <p class="col-12 col-sm-2 col-form-label font-weight-bold pr-0 mr-6">
    some label:
  </p>
  <%# begin show group %>
  <div class="col-12 col-sm-9 col-xl-8 col-form-label pl-2">
    <%# INSERT: show data frame %> 
  <%# end show group %>
  </div>
<%# end subsection %>
</div>


