<%# card body contents %>

  <%# begin single column top label row %>
  <%# NOTE: NO spaces between row items %>
  <div class="row py-1">
    <%# begin first column %>
    <div class="col-sm-12">
      <p class="pb-1 col-form-label font-weight-bold">
        Some Label:
        <%# REVIEW: update label %>
      </p>
      <%# show data frame  %>
      <div class="row">
        <div class="col-12">
          <%# REVIEW: insert show element - see templates/views/elements/show_elements.html.erb %>
        <%# end show data frame  %>
        </div>
      </div>
    <%# end column %>
    </div>
  <%# end show row %>
  </div>

  <%# begin 2 column 50:50 top label row %>
  <div class="row py-1">
    <%# begin first column %>
    <div class="col-sm-6">
      <p class="pb-1 col-form-label font-weight-bold">
        Some Label:
        <%# REVIEW: update label %>
      </p>
      <%# show data frame  %>
      <div class="row">
        <div class="col-12">
          <%# REVIEW: insert show element - see templates/views/elements/show_elements.html.erb %>
        <%# end show data frame  %>
        </div>
      </div>
    <%# end first column %>
    </div>
    <%# begin second column %>
    <div class="col-sm-6">
      <p class="pb-1 col-form-label font-weight-bold">
        Some Label:
        <%# REVIEW: update label %>
      </p>
      <%# show data frame  %>
      <div class="row">
        <div class="col-12">
          <%# REVIEW: insert show element - see templates/views/elements/show_elements.html.erb %>
        <%# end show data frame  %>
        </div>
      </div>
    <%# end second column %>
    </div>
  <%# end show row %>
  </div>

