<%# DeleteThisPls: insert stylesheets, javascript packs, non-pack javascripts and content for end of body as needed %>

<%# DeleteThisPls - Delete "provide()" line below OR insert nav type. Options: 'default_logged_in', 'splash', 'full_height_columns', 'custom' %>
<%# DeleteThisPls - 'default_logged_in' or 'splash' are included automatically if user is logged in or not logged in, respectively (and therefore do not need to be set manually) %>
<% provide(:nav_type, 'ChangeNavTypeOrDeleteThisLine') %>

<%# Page header %>
<div id="ChangeTemplate_header">
  <%= render('ChangePath/ChangeTemplate_header', ChangeLocals) %>
</div>

<%# Page tabs %>
<div id="ChangeTemplate_tabs" class="pb-4">
  <%= render('ChangePath/ChangeTemplate_tabs' tab: @tab) %>
</div>

<%# DeleteThisPls: insert page body %>
