<%= content_for :head do %>
  <%# Custom stylesheet for this file %>
  <%#= stylesheet_link_tag(__FILE__.split("app/views/").last.remove('.html.erb')) %>
  <%# Insert additional stylesheets as needed %>
  <%#= stylesheet_link_tag(InsertSingleStylesheet) %>
<% end %>

<%# Insert Javascript Packs as needed %>
<% add_javascript_packs('InsertPack', 'InsertPack', 'Etc.') %>
<%# Custom JS pack for this file %>
<%# add_javascript_packs(__FILE__.split("app/views/").last.remove('.html.erb')) %>

<% provide(:nav_type, 'default_logged_in') %>
<%# DeleteThisPls - nav_type options: 'default_logged_in', 'full_height_columns', 'splash', and 'custom' %>

<%# ChangeTemplate header %>
<div id="ChangeTemplate_header">
  <%= render(partial: 'ChangePath/ChangeTemplate_header', locals: { ChangeLocals }) %>
</div>

<%# ChangeTemplate tabs %>
<div id="ChangeTemplate_tabs" class="pb-4">
  <%= render(partial: 'ChangePath/ChangeTemplate_tabs', locals: { tab: @tab }) %>
</div>

<%# ChangeTemplate body %>
<div id="ChangeTemplate_body">
  <%= render(partial: 'ChangePath/ChangeTemplate_body', locals: { ChangeLocals }) %>
</div>
