<%# Start page body - full height columns %>
<div id="full_height_columns_page_container">
  <div id="full_height_columns_page_body">

    <%# ChangeColumnName %>
    <div id="ChangeColumnName" class="full_height_column d-xx-or-larger" style="width: ChangeWidth; max-width: ChangeWidth;">
      <%= render('ChangePath/ChangeColumnName_column' ChangeLocals) %>
    </div>

    <%# DeleteThis: use these sample columns below for reference or as a starting point. Make sure to delete what is not used %>
    <%# Sample Optional Column %>
    <div id="ChangeColumnName" class="full_height_column d-md-or-larger" style="width: 10%; max-width: 200px;">
      <%= render('ChangePath/ChangeColumnName_column' ChangeLocals) %>
    </div>

    <%# Sample Main Column %>
    <div id="ChangeColumnName" class="full_height_column" style="width: 100%; min-width: 50%;">
      <%= render('ChangePath/ChangeColumnName_column' ChangeLocals) %>
    </div>

    <%# Sample Settings Column %>
    <div id="ChangeColumnName" class="full_height_column" style="width: 40%; max-width: 400px;">
      <%= render('ChangePath/ChangeColumnName_column' ChangeLocals) %>
    </div>

  <%# End page body %>
  </div>
</div>
