<%# Start page body - base %>
<div class="main-content container-fluid">
  <div class="row">
    <div class="col-sm-12">

      <%# Page tabs %>
      <div id="page_tabs_container">
        <%= render('ChangePath/ChangeTemplate_tabs', tab: @tab) %>
      </div>

      <%# DeleteThis - insert card containers %>

    <%# End page body %>
    </div>
  </div>
</div>
