<div class="tab-container d-flex">
  <ul class="nav nav-tabs" role="tablist">
    <% if can? ChangeThisPls, ChangeThisPls %>
      <li class="nav-item">
        <%= link_to(ChangeDisplay, ChangePathHelper_path, class: "nav-link#{ " active" if tab == 'ChangeThisPls' }") %> 
      </li>
    <% end %>
    <% if can? ChangeThisPls, ChangeThisPls %>
      <li class="nav-item">
        <%= link_to(ChangeDisplay, ChangePathHelper_path, class: "nav-link#{ " active" if tab == 'ChangeThisPls' }") %> 
      </li>
    <% end %>
  </ul>
</div>
